/* contenedor principal */
.contenedor {
    background-color: #9da5eb;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* encabezado en el contenedor */
.header {
    
    background-color:blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* título principal dentro del encabezado */
.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 0;
}


/*  subtitulo  */
h2 {
    color: #333;
}

/* parrafo de contenido */
.central p {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
        color: #181818;
}

/* lista dentro de contenido */
.ul {
    color: rgb(19, 92, 151);
    list-style-type: none;
    padding: 0;
}

/* listas */
.ul li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* cambio de color al ser visitado */
.fuente-link:visited {
    color:blue;
}

/* cambio de color al ser visitado */
.instagram-link:visited {
    color:blue;
}

/* cambio de color al pasar el cursor*/
 .fuente-link:hover{
    color:darkmagenta;
 }

/* cambio de color al pasar el cursor*/
 .instagram-link:hover{
    color:darkmagenta;
 }
 
 /* centro el escudo*/
 .escudo {
    display: block;
    width: 50%;
    margin: auto;
  }

/* pie de pagina */
.footer {
    margin-top: 10px;
    text-align: center;
    color: #888;
}
