/*contenedor general*/
#container {
    display: flex;
    border: 3px solid rgb(19, 26, 87);
    width: 100%;
    height: 200px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
    position: relative;
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

button {
    position: absolute;
    border-color: darkcyan;
}